body{
    background-image: url(../img/Fondo\ con\ logo.jpg) ;
}
.fondo-section{
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    box-shadow: 2px 6px 100px #130a0a;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.Subtitulo{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid black;
}
.forma-cuadro{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 2px 6px 100px #130a0a;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    max-width: 400px;
    padding: 20px;
}
.logo-navbar{
    width: 165px;
    height: auto;
    background-color: aliceblue;
    border-radius: 30px;
    border: 5px solid rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
