.carta-dinamica {
  width: 37vh;
  max-width: 70vh;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgb(14, 71, 73);
  padding: 40px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px !important;
  border: 2px solid #CDCDCD;
}

.carta-dinamica:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 32px rgb(0, 169, 165);
}

.carta-dinamicaRegistro {
  width: 70vh;
  max-width: 70vh;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgb(14, 71, 73);
  padding: 40px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px !important;
  border: 2px solid #CDCDCD;
}

.carta-dinamicaRegistro:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 32px rgb(0, 169, 165);
}

.envoltorio-login{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50%; /* Ocupa toda la altura de la pantalla */
}

.fondo-ritual {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  padding: 40px;
  background-size: cover;
  background-position: center;
}
