body {
  background-color: white;
  /*!background-image: url('/Fondo_Home.jpg');*/
}

:root {
  --bs-success: #095D59;
  --bs-success-rgb: 14, 71, 73;
}
#root {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  background-color: #CDCDCD;
  border-radius: 50px;
  border: 5px solid #CDCDCD;
  width: auto;
  height: 60px;
}

.navbar {
  border-bottom: #CDCDCD solid 2px;
  background-color: #0E4749;
  opacity: 100%;
}

.card {
  border: #C4BBB8 solid 2px;
}

.btn-group .btn{
  --bs-btn-font-weight: 600;
  --bs-btn-color: #C4BBB8;
  --bs-btn-bg: #C4BBB8;
  --bs-btn-border-color: #C4BBB8;
  --bs-btn-hover-color: #C4BBB8;
  --bs-btn-hover-border-color: #C4BBB8;
}


.btn-success {
  --bs-btn-color: white;
  --bs-btn-bg: var(--bs-success);
  --bs-btn-border-color: #095D59;
  --bs-btn-hover-bg: #00A9A5;
  --bs-btn-hover-border-color: #00A9A5;
  --bs-btn-hover-color: Black;
  --bs-btn-active-bg:  #C4BBB8;
  --bs-btn-active-border-color: var(--bs-btn-active-bg);
}

.btn-danger {
  --bs-btn-bg: #BA3F1D;
  --bs-btn-border-color: #C4BBB8;
  --bs-btn-hover-bg: #BA3F1D;
  --bs-btn-hover-border-color: #BA3F1D;
}

.navbar-brand img {
  width: auto;
  height: 50px;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: white !important;
}

.sidebar-avatar {
  width: 96px;
  height: 96px;
}