/* Este archivo es para estilos que Bootstrap no cubre o que queremos sobreescribir */

body {
  background-color: #0F3D35; /* Verde oscuro de fondo */
  background-image: url('/Fondo_Home.jpg'); /* Imagen de fondo */
}

:root {
  --bs-success: #1E796A; /* Verde principal para botones */
  --bs-success-rgb: 30, 121, 106;
}
#root {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.btn-success {
  --bs-btn-bg: var(--bs-success);
  --bs-btn-border-color: var(--bs-success);
  --bs-btn-hover-bg: #155e50;
  --bs-btn-hover-border-color: #155e50;
}

.navbar-brand img {
  width: auto;
  height: 50px;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: white !important;
}

.sidebar-avatar {
  width: 96px;
  height: 96px;
}